@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');


.content-title {
  align-content: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.title-form{
  font-family: 'Caveat', cursive;
  font-size: 50px;
  color:#f1b05c;
  align-content: center;
  
}

.form {
    min-width: 300px;
    max-width: 400px;
    margin: auto;
    margin-top: 70px;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium;    
}

.div-activated{
  min-width: 300px;
    max-width: 400px;
    margin: auto;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium;
    background-color: #d4edda;
}

.form-register {
  min-width: 300px;
  max-width: 400px;
  margin: 5%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: medium;
  padding-left: 2rem;
  padding-right: 2rem;    
}

.form-register-publisher{
  width: fit-content;
  margin: 5%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: medium;
  padding-left: 2rem;
  padding-right: 2rem;  
}
.container-form{
  display: flex;
  flex-direction: row;
  height: min-content;
}
.divs-form{
  display: flex;
  flex-direction: column;
  padding: auto;
  margin: 5%;
  margin-top: 0%;
  margin-bottom: 0%;
  width: 300px;
}

.title{
  font-size: large;
  font-weight: 700;
}

.email,
.contrasena {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 1px solid #8fa6a9;
  border-radius: 8px;
  font-size: small;
}

.button {
  margin-top: 1rem;
  display: flex;

}


.forgot {
  font-size: smaller;
  margin-top: 0.5rem;
  text-align: center;
}

.forgot-link {
  color: #757575;
  text-decoration: none;
  cursor: pointer;
}

.forgot-link:hover {
  text-decoration: underline;
}

.logo {
  margin-bottom: 1rem;
}

.register-link {
  color: #757575;
  text-decoration: none;
  font-weight: 600;
}

.register-link:hover {
  text-decoration: underline;
}

.message-success{
  top: 0px;
  margin:0;
}
.message-fail{
  top:0px;
  margin:0;
}

.activate-div{
  margin:5%;
  border-radius: 5px;
  display: flex;
  width: max-content;
  align-items: center;
  background-color: #e8eff3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  flex-direction: column;
}
.activate-text{
  color:#155724;
  padding-left: 20px;
  padding-right: 20px;
  width:max-content;
  margin-top: 0;
  font-size:85%;
  margin-bottom: 0;
}

.top{
  margin-top: 20px;
}
.activate-link{
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  color: #155724 ;
  text-decoration:none;
  font-size: medium;
}

.activate-link:hover{
  text-decoration: underline;
  color:#f1b05c;
}
.container-activate{
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-name{
  display: flex;
  flex-direction: row;
  align-items: center;
  border:1px solid #8fa6a9;
  border-radius: 5px;
  width: 100%;
  height: 40px;
}



.name{
  font-size:medium;
  width: fit-content;
  display: flex;
  flex:1;
}

.image-div{
  margin: 0;
  cursor: pointer;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  align-self:last baseline;
  width: 50px;
  border-radius: 5px;
}
.image-div:hover{
  background-color:#e8e8e8 ;
}

.eliminate{
  margin-top: 5%;
}

.custom-file-input {
  position: relative;
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: fit-content;
  height: fit-content;
  
  margin: 0.5rem 0;
}

.custom-image-input-label {
  /* Estilos para el botón */
  cursor: pointer;
  padding: 10px;
  background-color: #d3e3e9;
  color: #fff;
  border-radius: 5px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-inputs {
  /* Ocultar el input original */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  
  width: 100%;
  height: 100%;
}

.selected-file-text {
  /* Estilos para el texto de archivo seleccionado */
  margin: 5%;
  display: block;
  font-size: 10px;
  color: #555;
}

.container-images{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.micro-cont-images{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
}

.long{
  display: flex;
  height: 100%;
  flex-wrap: nowrap;
}

.links-reg{
  font-size: smaller;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form-publisher{
  width: 100%;
  
  margin-bottom: 15%;
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: medium;
  height: 100%; 
}

.container-profile-publisher{
  margin-top: 90px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  flex-wrap: wrap;
  width: 70vw;
  padding: 2%;
}




.profile-imageprofile{
  width: 50px;
  height: 50px;
  display: flex;
  
  border-radius: 100%;
  overflow: hidden;
  justify-content: center;
  
}

.cont-profile-image{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 2%;
  
}

.edit{
  box-sizing: border-box;
  font-size:small;
  font-weight: 600;
  cursor: pointer;
 
  width: min-content;
  margin-left: 5px;
  margin-right: 5px;
}

.edit:hover{
  text-decoration: underline;
}

.img-profile{
  
  object-fit: cover;
}

.title-cont{
  font-weight: 500;
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;
  color: #555;
}

.cont-name{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  
  margin: 2%;
}

.cont-office{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  
  margin: 2%;
}

.cont-min-office{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.office{
  display: flex;
  flex:1;
  font-size: 15px;
}

.cont-phone{
  box-sizing: border-box;
  display: flex;
  align-items: center;
 
  margin: 2%;
}

.phone{
  display: flex;
  flex:1;
  font-size: 15px;
}

.name{
  font-size: 15px;
}

.cont-description{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: fit-content;
  
  margin: 2%;
}

.description{
  font-size: 15px;
  margin:0;
  margin-left: 5px;
  margin-right: 5px;
  
}

.contain-bottons{
  display: flex;
  flex-direction: column;
}
.contain-texts{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #757575;
}


.contain-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.two{
  font-weight: 600;
  cursor: pointer;
  font-size: large;
}

.two:hover{
  text-decoration: underline;
}